<div class="row">
	<div class="col-xs-12">
		<form>
			<div class="row">
				<div class="col-sm-5 form-group">
					<label for="amount">Name</label>
					<input type="text" name="name" id="" class="form-control" #inputName>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5 form-group">
					<label for="amount">Amount</label>
					<input type="number" name="amount" id="" class="form-control" #inputAmount >
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5 form-group">
				<button class="btn btn-success" (click)="onAddItem()">Add </button>
        <button class="btn btn-danger">Delete </button>
        <button class="btn btn-primary">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>

